{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class=dashboard>
    <h1>Bienvenue dans l'administration du site Les Santons</h1> <br>
    <h2>"Utentis evanuit, pax regnat." Ça ne veut absolument rien dire..., mais quand tu vires un utilisateur, vérifie que c'était pas l’admin.</h2><br>
    <p>Utilisez le menu de gauche pour gérer les utilisateurs, les santons et les commentaires.</p> <br>
    <a href="{{ path('app_home') }}" class="voir-plus">Retour au site</a>
    </div>
{% endblock %}