@use "../abstract/variable" as v;

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1rem;
  justify-content: center;      
  align-items: start;           
  max-width: 80%;
  padding: 1rem;
  box-sizing: border-box;
}


.card {
  background-color: rgba(v.$color-parchemin, 0.4);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    h3 {
      color: v.$color-cardinal;
      font-size: 20px;
      margin-bottom: 0.75rem;
    }

    p {
      color: v.$color-texte;
      font-size: 18px;
      margin-bottom: 1rem;
    }

}