$color-parchemin: #f1e4c3;
$color-cardinal: #c05f5f;
$color-texte: #f4ebd9;
$color-bouton: #c2a850;
$color-titre: #3a4f7a;

$gradient-parchemin-vertical: linear-gradient(
  to bottom,
  rgba(241, 228, 195, 0),
  rgba(241, 228, 195, 0.2),
  rgba(241, 228, 195, 0)
);
$gradient-parchemin-horizontal: linear-gradient(
  to right,
  rgba(241, 228, 195, 0),
  rgba(241, 228, 195, 0.2),
  rgba(241, 228, 195, 0)
);

$gradient-parchemin: 
  $gradient-parchemin-vertical, 
  $gradient-parchemin-horizontal;

$font-medieval: 'MedievalSharp', sans-serif;


$background-image-first: url('../../images/bgfirst.png');
$background-image: url('../../images/bg.jpg');
$background-image-second: url('../../images/bgsans.png');
         

